body {
 background-image:  url(/images/bg.jpg);
 background-repeat: repeat-y;
 background-color:  #FFFFFF;
 color:             #000000;
}

a:link    { color: #006699; }
a:visited { color: #336699; }
a:active  { color: #3399CC; }
a:hover   { color: #3399CC; }

span {
 font-family:       verdana, arial, helvetica, sans-serif;
 font-size:         10pt;
}

span.bl { color: #006699; }
span.err { color: #FF0000; }
span.h { font-weight: bold; }
span.i { font-style: italic; }
span.b { font-size: 12pt; }
span.s { font-size: 8pt; }
#date {
 font-size: 8pt;
 color:     #999999;
}
#gray { color: #666666; }

img { border: none; }

table {
 margin-left:    auto;
 margin-right:   auto;
 border:         none;
 border-spacing: 0px;
 padding:        0px;
}
#c {
 text-align:   center;
 margin-left:  auto;
 margin-right: auto;
}
#l { text-align: left; }
#ml { margin-left: 0; }
