{% comment %}
<!DOCTYPE html>
{% endcomment %}
<html>

  {% include head.html %}

  <body bgcolor="#FFFFFF" background="images/bg.jpg" text="#000000" link="#006699" vlink="#006699" alink="#006699">

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  </body>

  {% comment %}
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  {% endcomment %}

</html>
